In [2]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame(
    {
        "Name": [chr(x) for x in range(65, 65 + 16)],
        "Birth_Month": [
            "December",
            "January",
            "February",
            "February",
            "March",
            "April",
            "May",
            "June",
            "December",
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "October",
        ],
        "Gender": np.random.choice(["M", "F"], 16),
        "PassDivision": np.random.choice(["I", "II", "III"], 16),
    }
)

In [12]:
df

   Name Birth_Month Gender PassDivision
0     A    December      F            I
1     B     January      M          III
2     C    February      F            I
3     D    February      F          III
4     E       March      F            I
5     F       April      M            I
6     G         May      F           II
7     H        June      M            I
8     I    December      F           II
9     J     January      M            I
10    K    February      F          III
11    L       March      F            I
12    M       April      M            I
13    N         May      M            I
14    O        June      F           II
15    P     October      M          III

In [14]:
pd.get_dummies(df, columns=["Gender", "PassDivision"])

,Name,Birth_Month,Gender_F,Gender_M,PassDivision_I,PassDivision_II,PassDivision_III
0,A,December,True,False,True,False,False
1,B,January,False,True,False,False,True
2,C,February,True,False,True,False,False
3,D,February,True,False,False,False,True
4,E,March,True,False,True,False,False
5,F,April,False,True,True,False,False
6,G,May,True,False,False,True,False
7,H,June,False,True,True,False,False
8,I,December,True,False,False,True,False
9,J,January,False,True,True,False,False
10,K,February,True,False,False,False,True
11,L,March,True,False,True,False,False
12,M,April,False,True,True,False,False
13,N,May,False,True,True,False,False
14,O,June,True,False,False,True,False
15,P,October,False,True,False,False,True

In [15]:
df["Birth_Month"] = pd.Categorical(
    df["Birth_Month"],
    ordered=True,
    categories=[
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
    ],
)

In [19]:
df.sort_values(by = "Birth_Month")

   Name Birth_Month Gender PassDivision
1     B     January      M          III
9     J     January      M            I
2     C    February      F            I
3     D    February      F          III
10    K    February      F          III
4     E       March      F            I
11    L       March      F            I
5     F       April      M            I
12    M       April      M            I
6     G         May      F           II
13    N         May      M            I
7     H        June      M            I
14    O        June      F           II
15    P     October      M          III
0     A    December      F            I
8     I    December      F           II